.summary-textarea {
  width: 95%;
  padding: 10px;
  min-height: 100px;
  border: none;
  outline: none;
  resize: none;

  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
}

.summary-textarea:focus,
.summary-textarea:hover {
  transition: 0.7s;
  background-color: #e0e0e0;
}
